p {
    text-align: center;
}

small {
    text-align: center;
}

.choosen {
    text-align: center;
    color: red;
}

a {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
}

img,
.img-center,
iframe {
    display: block;
    margin: 0 auto;
}

.rectangle-back {
    width: 60%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    animation: img_moveLOGO3 4s ease-in-out forwards;
}

@keyframes img_moveLOGO3 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#logo,
#logo2,
#bg,
#body_id,
#theme_toggle {
    transition: all 0.2s ease-in-out;
}

.dark_mode_toggle {
    top: 0%;
    left: 0%;
    position: fixed;
    background: none;
    border: none;
    cursor: pointer;
    animation: moveLOGO2 4s ease-in-out forwards;
}

.logo {
    animation: moveLOGO0 4s ease-in-out forwards;
}

@keyframes moveLOGO0 {
    0% {
        transform: translate(-50%, -50%) translateX(50%);
        opacity: 0;
    }

    25% {
        transform: translate(-50%, 0%) translateX(50%);
        opacity: 1;
    }
}

.logo1 {
    animation: moveLOGO1 4s ease-in-out forwards;
}

@keyframes moveLOGO1 {
    0% {
        transform: translate(-50%, -50%) translateX(50%);
        opacity: 0;
    }

    25% {
        transform: translate(-50%, -50%) translateX(50%);
        opacity: 0;
    }

    50% {
        transform: translate(-50%, 0%) translateX(50%);
        opacity: 1;
    }
}

.logo2 {
    animation: moveLOGO2 4s ease-in-out forwards;
}

@keyframes moveLOGO2 {
    0% {
        transform: translate(-50%, -50%) translateX(50%);
        opacity: 0;
    }

    50% {
        transform: translate(-50%, -50%) translateX(50%);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, 0%) translateX(50%);
        opacity: 1;
    }
}

.for_img_logo2 {
    animation: img_moveLOGO2 4s ease-in-out forwards;
}

@keyframes img_moveLOGO2 {
    0% {
        transform: translate(-50%, -10%) translateX(50%);
        opacity: 0;
    }

    50% {
        transform: translate(-50%, -10%) translateX(50%);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, 0%) translateX(50%);
        opacity: 1;
    }
}
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5{
    color: white;
    text-shadow: 0 0px 10px rgba(255, 255, 255, 0.6);
}
body.dark-mode p{
    color: white;
    text-shadow: 0 0px 2px rgba(255, 255, 255, 0.4);
}
body.dark-mode a{
    color: darkcyan;
    text-shadow: 0 0px 2px rgba(255, 255, 255, 0.4);
}
body.dark-mode a:hover{
    color: cyan;
    text-shadow: 0 0px 2px rgba(255, 255, 255, 0.4);
}
body.dark-mode a:active{
    color: darkgreen;
    text-shadow: 0 0px 2px rgba(255, 255, 255, 0.4);
}
body.dark-mode a:visited{
    color: purple;
    text-shadow: 0 0px 2px rgba(255, 255, 255, 0.4);
}
body.light-mode h1,
body.light-mode h2,
body.light-mode h3,
body.light-mode h4,
body.light-mode h5{
    color: black;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
body.light-mode p{
    color: black;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
body.dark-mode #bg {
    background-color: #1a1a1a
}

body.light-mode #bg {
    background-color: #e5e5e5
}
body.light-mode a{
    color: darkblue;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
body.light-mode a:hover{
    color: blue;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
body.light-mode a:active{
    color: darkred;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
body.light-mode a:visited{
    color: purple;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}